<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CustomerPrefixOrPostFix>1</CustomerPrefixOrPostFix>
  <CustomerAlphaValue>CST</CustomerAlphaValue>
  <OrderPrefixOrPostFix>1</OrderPrefixOrPostFix>
  <OrderAlphaValue>ORD</OrderAlphaValue>
</Config>
