
/* CSS Document */

/* --------------------------------------------------------------------------------------
    Default Table 
   -----------------------------------------------------------------------------------------*/
table
{
    border-collapse: collapse;
    margin: 10px;
}
table th strong
{
    color: #fff;
}
table th
{
    background: #93BC0C;
    height: 29px;
    padding-left: 12px;
    padding-right: 12px;
    color: #FFF;
    text-align: left;
}
table tr
{
   height: 23px;
}
table td
{   
    /* padding-left: 11px;
    padding-right: 11px; */
    vertical-align: middle;
}
table td.first, th.first
{
    border-left: 0px;
}
table tr.row-a
{
    background: #F8F8F8;
}
table tr.row-b
{
    background: #EFEFEF;
}

table td.emphasise
{
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
}

table.formgrid
{
}

table.formgrid td
{
    padding-left: 2px;
}

/* Simple Grid Note use of Contextual Selector*/
table.simplegrid
{
    border-collapse: collapse;
    border: none 0px;
    margin: 10px;
    width: 100%;
}
table.simplegrid th strong
{
    color: #fff;
}
table.simplegrid th
{
    background: #93BC0C;
    height: 29px;
    padding-left: 12px;
    padding-right: 12px;
    color: #FFF;
    text-align: left;
    border-left: 1px solid #B6D59A;
    border-bottom: solid 2px #FFF;
}
table.simplegrid tr
{
    height: 30px;
}
table.simplegrid td
{
    padding-left: 11px;
    padding-right: 11px;
    border-left: 1px solid #FFF;
    border-bottom: solid 1px #ffffff;
}
table.simplegrid td.first, th.first
{
    border-left: 0px;
}
table.simplegrid tr.row-a
{
    background: #F8F8F8;
}
table.simplegrid tr.row-b
{
    background: #EFEFEF;
}

table.simplegrid tr.row-footer
{
    background: #EFEFEF;
    font-weight: bold;
}


table.progressupdate
{
    border-collapse: collapse;
    border: none 0px;
    margin: 0px;
    width: 100%;
}

table.progressupdate tr
{
    height: 30px;
}
table.progressupdate td
{
    padding: 0px;
    margin: 0px;
}

table.search
{
    width: 100%;
}

table.left
{
    text-align: left;
}


table.search td.right
{
    text-align: right;
}


table.simplegrid table.datalist
{
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#CustomerUpdateTD
{
    text-align: right;
    padding-right: 30px;
}

/* end - table */

/* form elements */
form
{
}

label
{
    /* display:block;  	font-weight:bold; */ /* margin:5px 0; */
    padding-left: 10px;
    padding-right: 10px;
}

input
{
    padding: 2px;
    border: 1px solid #eee;
    font: normal 1em Verdana, sans-serif;
    color: #777;
    vertical-align: middle;
}
textarea
{
    width: 400px;
    padding: 2px;
    font: normal 1em Verdana, sans-serif;
    border: 1px solid #eee;
    height: 100px;
    display: block;
    color: #777;
}
input.button
{
    font: bold 12px Arial, Sans-serif;
    height: 24px;
    margin: 0;
    padding: 2px 3px;
    color: #FFF;
    background: #8EB50C url(../../images/button-bg.jpg) repeat-x 0 0;
    border: none;
}

table.ContentHeader
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
