.MyCalendar .ajax__calendar_container
{
    border: 1px solid #646464;
    background-color: white;
    color: black;
    width: 300px;
}
.MyCalendar .ajax__calendar_body
{
    width: 100%;
}
.MyCalendar .ajax__calendar_other .ajax__calendar_day, .MyCalendar .ajax__calendar_other .ajax__calendar_year
{
    color: black;
}
.MyCalendar .ajax__calendar_hover .ajax__calendar_day, .MyCalendar .ajax__calendar_hover .ajax__calendar_month, .MyCalendar .ajax__calendar_hover .ajax__calendar_year
{
    color: black;
}
.MyCalendar .ajax__calendar_active .ajax__calendar_day, .MyCalendar .ajax__calendar_active .ajax__calendar_month, .MyCalendar .ajax__calendar_active .ajax__calendar_year
{
    color: black;
    font-weight: bold;
}

.ListSearchExtenderPrompt
{
    text-align: left;
    font-style: italic;
    color: Gray;
    background-color: white;
}

.EmphGreen
{
    color: #666666;
    font-size: 1.2em;
}

.emphasise
{
    font-weight: bold;
    font-size: 1.2em;
}



